@keyframes img-in
  0%
    transform: translate(200%, 200%)
  80%
    transform: translate(-1rem, -1rem)
  100%
    transform: none

@keyframes img-in-sm
  0%
    transform: translate(200%, 200%)
  80%
    transform: translate(-1rem, 40%)
  100%
    transform: translate(0px, 50%)

@keyframes h1-in
  0%
    opacity: 0
    transform: translate(-200%, -200%)
  80%
    opacity: 0.9
    transform: translate(1rem, 1rem)
  100%
    opacity: 1
    transform: none

@keyframes p-in
  0%
    opacity: 0
    transform: translate(-200%, 1000%)
  80%
    opacity: 0.9
    transform: translate(1rem, -1rem)
  100%
    opacity: 1
    transform: none
  
.banner
  display: flex
  padding: 6rem
  justify-content: center
  box-shadow: 0rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.5)
  position: relative //Shadow won't show without this.
  background-color: $base
  color: white
  align-items: center
  z-index: 1
  @media screen and (max-width: 1420px)
    flex-direction: column
    margin-bottom: 38rem
  @media screen and ( max-width: 850px )
    margin-bottom: 38vw

  &-text
    white-space: nowrap
    text-align: right
    margin-right: 8rem
    @media screen and (max-width: 1420px)
      text-align: center
      margin-right: unset
      margin-bottom: 22rem
    @media screen and ( max-width: 850px )
      margin-bottom: 28vw

    &-title
      font-weight: bold
      opacity: 0
      text-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.5)
      animation:
        name: h1-in
        duration: 800ms
        play-state: running
        timing-function: ease-out
        delay: 200ms
        fill-mode: forwards
      font-size: 12rem
      @media screen and ( max-width: 1420px )
        opacity: 1
        animation: none
      @media screen and ( max-width: 850px )
        white-space: normal
      @media screen and ( max-width: 550px )
        font-size: 10rem
      @media screen and ( max-width: 400px )
        font-size: 7rem

    &-description
      font-size: 5rem
      text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5)
      opacity: 0
      animation:
        name: p-in
        duration: 800ms
        play-state: running
        timing-function: ease-out
        delay: 400ms
        fill-mode: forwards
      @media screen and ( max-width: 1420px )
        opacity: 1
        animation: none
      @media screen and ( max-width: 850px )
        margin-top: 1rem
      @media screen and ( max-width: 700px )
        font-size: 4rem
      @media screen and ( max-width: 550px )
        font-size: 2.5rem
      @media screen and ( max-width: 400px )
        font-size: 2rem

  &-visuals
    border-radius: 50%
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.5)
    animation:
      name: img-in
      duration: 1000ms
      play-state: running
      timing-function: ease-out
      fill-mode: forwards
    @media screen and ( max-width: 1420px )
      position: absolute
      bottom: 0rem
      transform: translate(0px, 50%)
      animation: none
    
    &-img
      max-width: 48rem
      display: block //This prevents descender space below for inline elements.
      @media (max-width: 850px)
        max-width: 65vw
