@import globals
  
.card
  display: flex
  flex-direction: column
  width: 38rem
  background-color: white
  margin: 2rem
  color: $base
  border-radius: 0.5rem
  overflow: hidden

  img
    width: 100%

  &-content
    padding: 1.5rem
    flex-grow: 1
    display: flex
    flex-direction: column

    p
      margin: 1rem 0rem
      line-height: 1

    table
      width: 100%
      text-align: center
      margin-top: auto
      border-top: 0.25rem solid $base

      th
        padding-top: 1rem
        color: $base
        font-style: italic
        font-size: 2rem
        vertical-align: bottom

      td
        padding: 0.5rem
        color: $base
        vertical-align: top
        font-size: 1.5rem

    div
      display: flex
      margin-top: 1rem
      border-top: 0.25rem solid $base
      justify-content: center
      align-items: center
      padding: 1rem

      a
        background-color: $secondary
        color: white
        text-decoration: none
        border-radius: 0.5rem
        width: fit-content
        padding: 1rem
        font-size: 2rem
        margin-top: 1rem
        transition: all 200ms

        &:not(:first-of-type)
          margin-left: 1rem

        &:hover
          background-color: $base
          box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.5)
          transform: scale(1.05)

