@keyframes header-in
  0%
    transform: translateY(-100%)
  100%
    transform: translate(0rem, 0rem)

.header-wrapper
  background-color: $base
  position: sticky
  height: fit-content
  top: 0rem
  z-index: 2

header
  display: flex
  height: fit-content //Safari needs this
  box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.5)
  transform: translateY(-100%)
  background-color: $offset
  animation:
    name: header-in
    duration: 500ms
    delay: 1000ms
    play-state: running
    timing-function: ease-out
    fill-mode: forwards

  p
    flex-grow: 1
    padding: 2rem
    color: $base

  svg
    padding: 2rem
    display: none
    fill: $base
    transition: all 200ms
    @media screen and ( max-width: 850px )
      display: unset

    &:hover
      fill: white
      background-color: $secondary

  ul
    display: flex
    @media screen and ( max-width: 850px )
      transform-origin: top
      transform: scaleY(0)
      flex-direction: column
      position: absolute
      top: 100%
      right: 0rem
      left: 0rem
      transition: all 200ms
      height: fit-content
      border-top: 0.25rem solid $base

      &.open
        transform: scaleY(1)
        box-shadow: 0rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.5)

    li
      @media screen and ( max-width: 850px )
        width: 100%
    
    a
      padding: 2rem
      font-size: 2rem
      cursor: pointer
      transition: all 200ms
      color: $base
      background-color: $offset
      text-decoration: none
      display: flex
      align-items: center
      justify-content: center
      @media screen and ( max-width: 850px )
        width: 100%
        padding: 1rem
        text-align: center

      &:hover
        background-color: $secondary
        color: white
  
.subnav

  &-list
    flex-direction: column
    position: absolute
    right: 0rem
    transform-origin: top
    transform: scaleY(0)
    transition: all 200ms
    border-top: 0.25rem solid $base

    &.open
      transform: scaleY(1)
      box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.5)
    

  &-toggle

    svg
      display: block
      stroke: $base
      padding: 0rem
      margin-left: 0.5rem

    &:hover

      svg
        stroke: white

    &.open
      background-color: $secondary
      color: white
      
      svg
        stroke: white
        transform: rotate(180deg)
