@keyframes header-in
  0%
    transform: translateY(-100%)
  100%
    transform: translate(0px, 0px)

.header-wrapper
  background-color: $base
  position: sticky
  height: fit-content
  top: 0px
  z-index: 2

header
  display: flex
  height: fit-content //Safari needs this
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5)
  transform: translateY(-100%)
  background-color: $offset
  animation:
    name: header-in
    duration: 500ms
    delay: 1000ms
    play-state: running
    timing-function: ease-out
    fill-mode: forwards

  div
    flex-grow: 1
    padding: 20px
    color: $base

  svg
    padding: 20px
    display: none
    fill: $base
    transition: all 200ms
    @media screen and ( max-width: 850px )
      display: unset

    &:hover
      fill: white
      background-color: $secondary

  ul
    display: flex
    @media screen and ( max-width: 850px )
      transform-origin: top
      transform: scaleY(0)
      flex-direction: column
      position: absolute
      top: 100%
      right: 0px
      left: 0px
      transition: all 200ms
      height: fit-content
      border-top: 2px solid $base

      &.open
        transform: scaleY(1)
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5)

    li
      @media screen and ( max-width: 850px )
        width: 100%
    
    a
      padding: 20px
      font-size: 20px
      cursor: pointer
      transition: all 200ms
      color: $base
      background-color: $offset
      text-decoration: none
      display: flex
      align-items: center
      justify-content: center
      @media screen and ( max-width: 850px )
        width: 100%
        padding: 12px
        text-align: center

      &:hover
        background-color: $secondary
        color: white
  
.subnav

  &-list
    flex-direction: column
    position: absolute
    right: 0px
    transform-origin: top
    transform: scaleY(0)
    transition: all 200ms
    border-top: 2px solid $base

    &.open
      transform: scaleY(1)
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5)
    

  &-toggle

    svg
      display: block
      stroke: $base
      padding: 0px
      margin-left: 4px

    &:hover

      svg
        stroke: white

    &.open
      background-color: $secondary
      color: white
      
      svg
        stroke: white
        transform: rotate(180deg)
