@import globals
  
.icon-card
  color: $base
  width: 14rem
  margin: 1rem
  background-color: white
  padding: 1rem
  border-radius: 0.5rem
  
  svg
    margin-bottom: 1rem
    border-bottom: 0.1rem solid $secondary
    padding-bottom: 1rem

  p
    text-align: center
    margin-top: auto
    padding-top: 1rem