@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap")

html
  scroll-behavior: smooth
  font-size: 62.5%
  @media screen and ( max-width: 920px )
    font-size: 50%
  @media screen and ( max-width: 400px )
    font-size: 37.5%
    
    
    
    
    

body
  font-family: Gentium Basic, serif
  overflow-x: hidden