@import url("https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap")
@import "reset"
@import "globals"
@import "header"
@import "banner"
@import "block"
@import "collection"
@import "card"
@import "icon-card"
@import "container"
@import "contact-form"
@import "footer"

@keyframes appear
  from
    opacity: 0
  to
    opacity: 1

@keyframes main-content-in
  0%
    opacity: 0
    transform: translateY(10%)
  100%
    opacity: 1
    transform: none

html
  scroll-behavior: smooth
  font-size: 62.5%

body
  font-family: Gentium Basic, serif
  overflow-x: hidden
  animation: appear 800ms
  background-color: $offset
  
.main-content
  opacity: 0
  animation:
    name: main-content-in
    duration: 500ms
    delay: 1200ms
    play-state: running
    timing-function: ease-out
    fill-mode: forwards
  @media screen and ( max-width: 1420px )
    opacity: 1
    animation: none